{% extends 'base.html.twig' %}

{% set shortcut = app.request.attributes.get('shortcut') %}
{% set photosNb = photos|length %}
{% set photosWord = photosNb == 1 ? 'photo' : 'photos' %}
{% set h1 = 'Gallery ' ~ shortcut ~ ' (' ~ photosNb ~ ' ' ~ photosWord ~ ')' %}
{% set firstPhoto = photos|first %}

{% block title %}{{ h1 }}{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('app_home') }}">Upload your photos</a>
        {% if photosNb > 1 %}
            | <a href="{{ path('app_gallery_download_all', {'shortcut': shortcut}) }}">Download All (zip)</a>
        {% endif %}
    </p>
    <p>
        <a href="#!" id="copy-url-btn">cropofil.com/g/{{ shortcut }} - click to copy</a>
    </p>
    <div class="my-gallery ps-gallery" itemscope itemtype="http://schema.org/ImageGallery" id="main-gallery">
        {% for photo in photos %}
            <figure class="ps-figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ photo.url }}" itemprop="contentUrl" data-size="{{ photo.w }}x{{ photo.h }}" class="open-photo-btn">
                    <img class="ps-preview-img" src="{{ photo.url }}" itemprop="thumbnail" alt="" />
                </a>
                <figcaption itemprop="caption description">{{ photo.client_filename }}</figcaption>
            </figure>
            {% if photo.exif is not empty %}
                <a href="#!" data-target="exif-{{ photo.id }}" class="exif-toggle">Exif</a>
                <pre class="exif-{{ photo.id }} d-none exif"><code>{{ photo.exif|json_encode(constant('JSON_PRETTY_PRINT'))|replace({"\\": ''}) }}</code></pre>
            {% endif %}

        {% else %}
            <p>No Photos.</p>
        {% endfor %}
    </div>

    {{ include('_photoswipe.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('viewGallery') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('viewGallery') }}
{% endblock %}

{% block head %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ h1 }} - Cropofil">
    <meta name="twitter:image" content="{{ firstPhoto.url }}">
    <meta name="twitter:description" content="Cropofil - Share photos in original quality and resolution">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ h1 }} - Cropofil" />
    <meta name="description" content="Share photos in original quality and resolution. Simple Free High Quality Photos Sharing.">
    <meta name="keywords" content="HQ, Resolution, File Sharing, Photos Sharing">
    <meta property="og:title" content="{{ h1 }} - Cropofil">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="{{ firstPhoto.url }}">
    <meta property="og:image:secure_url" content="{{ firstPhoto.url }}">
    <meta property="og:description" content="Share photos in original quality and resolution.">
{% endblock %}
