{% extends 'base.html.twig' %}

{% block title %}Share Photos{% endblock %}

{% block body %}
    <a href="{{ path('app_home') }}">Upload your photos</a>

    <div class="my-gallery ps-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        {% for photo in photos %}
            <figure class="ps-figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ photo.url }}" itemprop="contentUrl" data-size="{{ photo.w }}x{{ photo.h }}">
                    <img class="ps-preview-img" src="{{ photo.url }}" itemprop="thumbnail" alt="" />
                </a>
                <figcaption itemprop="caption description">{{ photo.client_filename }}</figcaption>
            </figure>
        {% else %}
            <p>No Photos.</p>
        {% endfor %}
    </div>

    {{ include('_photoswipe.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('viewGallery') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('viewGallery') }}
{% endblock %}
